div {
  display: block;
}

#setup {
  margin:auto;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}
.boxes {
	background-color: white;
	float: left;
	border: 1px solid grey;
}

#container {
	overflow: auto;
	width: 768px;
	margin: auto;
};
